# Credit Card Default Inference  

Objective   : this notebook is to predict the inferenced data from [credit_card_default_inference.ipynb](credit_card_default_inference.ipynb) where the model training has been saved in pickle-- basically like a preliminary deployment before merged to the Dashboard Streamlit

In [1]:
# Import the libraries that needed to be implemented
import pandas as pd
import numpy as np
import pickle 
import json

In [2]:
# Upload the saved model to be implemented in this notebook of inference
with open('modelScaler.pkl', 'rb') as file_1:
    modelScaler = pickle.load(file_1)
with open('modelPCA.pkl', 'rb') as file_2:
    modelPCA = pickle.load(file_2)
with open('modelKM.pkl', 'rb') as file_3:
    modelKM = pickle.load(file_3)
with open('numCol.txt', 'r') as file_4: 
    numCol = json.load(file_4)

In [3]:
# Merged the column's name after being renamed
dfInf = {'CUST_ID': 27,
         'BALANCE': 15000,
         'BALANCE_FREQUENCY': 2,
         'PURCHASES': 270,
         'ONEOFF_PURCHASES': 99,
         'INSTALLMENTS_PURCHASES': 50,
         'CASH_ADVANCE': 3000,
         'PURCHASES_FREQUENCY': 2,
         'ONEOFF_PURCHASES_FREQUENCY': 3,
         'PURCHASES_INSTALLMENTS_FREQUENCY': 1,
         'CASH_ADVANCE_FREQUENCY': 3,
         'CASH_ADVANCE_TRX': 27,
         'PURCHASES_TRX': 1,
         'CREDIT_LIMIT': 30000,
         'PAYMENTS': 200,
         'MINIMUM_PAYMENTS': 100,
         'PRC_FULL_PAYMENT': 0.5,
         'TENURE': 10}

dfInf = pd.DataFrame([dfInf])
dfInf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,27,15000,2,270,99,50,3000,2,3,1,3,27,1,30000,200,100,0.5,10

In [4]:
dfInfNum = dfInf[numCol]

In [5]:
dfInfNum

,BALANCE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,15000,270,99,50,3000,27,1,30000,200,100,0.5,10

In [6]:
dfInfScaled = modelScaler.transform(dfInfNum)

In [7]:
dfInfScaledpca = modelPCA.transform(dfInfScaled)

In [8]:
predClust = modelKM.predict(dfInfScaledpca)

predClust

array([0], dtype=int32)